.container {
    margin-top: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  mat-card-header {
    font-size: 1.5rem;
  }
  mat-card-subtitle {
    font-size: .8rem;
  }
  