<div class="container">
  <mat-card class="box">
    <mat-card-header>Załóż swoją zrzutkę</mat-card-header>
    <br>
    <mat-card-subtitle>Wypełnij poniższe pola</mat-card-subtitle>
    <form class="example-form" [formGroup]="createFundraisingForm" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="Nazwa zrzutki" formControlName="fundraisingName">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <input matInput type="number" placeholder="Cel pieniężny" formControlName="fundraisingAmount">
        </mat-form-field>
        <br>
        <mat-form-field [hideRequiredMarker]="true">
          <mat-label>Data zakończenia</mat-label>
          <input type="date" matInput
                 name="birthDate"
                 formControlName="fundraisingExpirationDate">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <textarea matInput type="number" placeholder="Opis" formControlName="fundraisingDescription"></textarea>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <mat-label>Kategoria</mat-label>
          <mat-select formControlName="fundraisingCategory">
            <mat-option *ngFor="let category of categories" [value]="category.id">
              {{category.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
      </mat-card-content>
      <button mat-flat-button color="accent" class="btn-block">Załóż zrzutkę</button>
    </form>
  </mat-card>
</div>
