.container {
  margin-top: 4%;
  margin-left: 15%;
  position: absolute;
  background-color: white;
  align-items: center;
  text-align: center;
}

mat-card-title{
font-size: 30px;
}
.container .btn1{
width: 150px;
justify-content: center;
}
.container .btn2{
width: 150px;
justify-content: center;
}
.container .btn3{
width: 150px;
justify-content: center;
}

.container1 {
  width: 1000px;
  margin-top: 4%;
  margin-left: 25%;
  position: absolute;
  background-color: white;
  mat-card-subtitle{
      width: 1000px;
      font-size: 35px;
      justify-content: center;
      display: flex;
   }
}
.container1 .old-password {
  margin: auto;
  display: flex;
  justify-content: center;
}
.container1 .new-password1 {
  margin-left: 25%;
  min-width: 40px;
  max-width: 100px;
  position: absolute;
  width: 100%;
}
.container1 .new-password2 {
  margin-left: 55%;
  min-width: 40px;
  max-width: 150px;
  width: 100%;
}
.container1 .btn4 {
  width: 150px;
  justify-content: center;
}
