<div class="container">
  <mat-card>
  <mat-card-title>Konto</mat-card-title>
  <br>
  <br>
  <mat-card-actions>
    <button class="btn3" routerLink="/profileedit" mat-raised-button color="accent">Edycja danych</button>
    <br><br>
    <button class="btn1" routerLink="/password-changer" mat-raised-button color="accent">Zmiana hasła</button>
    <br><br>
    <button class="btn2" routerLink="/my-list" mat-raised-button color="accent">Moje zrzutki</button>
  </mat-card-actions>
  </mat-card>
</div>

<div class="container1">
  <mat-card>
  <form [formGroup]="changerForm" #tdForm="ngForm" >
  <mat-card-title>Zmiana hasła</mat-card-title>
  <br><br>
  <form class="old-password">
    <mat-form-field class="example-full-width1" appearance="fill">
      <mat-label>Stare hasło:</mat-label>
      <input matInput type="old_passw" placeholder="Podaj stare hasło">
    </mat-form-field>
  </form>
  <br><br>
  <form class="new-password1">
    <mat-form-field class="example-full-width1" appearance="fill">
      <mat-label>Nowe hasło:</mat-label>
      <input matInput type="new_passw1" placeholder="Wpisz nowe hasło">
    </mat-form-field>
  </form>
  <form class="new-password2">
    <mat-form-field class="example-full-width1" appearance="fill">
      <mat-label>Powtórz nowe hasło:</mat-label>
      <input matInput type="new_passw2" placeholder="Powtórz nowe hasło">
    </mat-form-field>
  </form>
  <br><br>
  <mat-card-actions>
    <button class="btn4" mat-raised-button color="accent" [disabled]="!tdForm.valid">Zapisz zmiany</button>
  </mat-card-actions>
  </form>
  </mat-card>
</div>
