mat-form-field {
  max-width: 98%;
  max-height: 50px;
  min-height: 50px;
}

.container-grid {
  display: grid;
  grid-template-columns: 70% 30%; /* Create 2 columns and auto-place rows */
}


mat-paginator {
  background-color: lightgray;
  opacity: 0.5;
}


