<div class="container">
  <mat-card>
    <mat-card-title>Konto</mat-card-title>
    <br>
    <br>
    <mat-card-actions>
      <button class="btn3" routerLink="/profile-edit" mat-raised-button color="accent">Dane użytkownika</button>
      <br><br>
      <button class="btn1" routerLink="/password-changer" mat-raised-button color="accent">Zmiana hasła</button>
      <br><br>
      <button class="btn2" routerLink="/my-list" mat-raised-button color="accent">Moje zrzutki</button>
    </mat-card-actions>
  </mat-card>

  <app-funds-paginator></app-funds-paginator>

</div>

