<div class="container">
  <mat-card>
    <mat-card-header class="child">
      <div class="center">
        <h1>Zrzutki założone</h1>
      </div>
    </mat-card-header>
    <mat-card-content class="drop-down">
      <app-fundraisings-list (showClicked)="onShow($event)" [fundraisings]="fundraisings"></app-fundraisings-list>
    </mat-card-content>
    <mat-paginator
      (page)="onPageFired($event)"
      [length]=fundraisingsLength
      [pageIndex]="0"
      [pageSizeOptions]="[2]">
    </mat-paginator>
  </mat-card>
</div>
