<mat-card class="card">


  <div class="center">

    <h1>Jak to działa?</h1>


  </div>

  <mat-card-content>
    <p>
      Skarbonka.pl to narzędzie do tworzenia zbiórek internetowych na dowolny cel (np. prezent, wyjazd, własny biznes, akcja charytatywna). Korzystanie ze zrzutki jest darmowe - nie pobieramy żadnej prowizji od wpłat i wypłat.
    </p>
  </mat-card-content>
  <mat-card-content>
    <p>
      Do tej pory zarejestrowało się u nas 606 041 użytkowników. Zorganizowali oni 778 025 zrzutek, na których zebrali ponad 580 332 256 złotych! A czy Ty masz jakieś marzenia? Nie czekaj ani chwili dłużej - zacznij je realizować!
    </p>
  </mat-card-content>
  <mat-card-content>
    <p>
      Zanim rozpoczniesz zbieranie datków, przeczytaj informacje poniżej. Być może rozwieją one Twoje wątpliwości lub pytania, które mogą się pojawić.
    </p>
  </mat-card-content>

  <h2>TWORZENIE ZRZUTKI</h2>

  <mat-card-content>
    <p>
      - Aby założyć zrzutkę, musisz posiadać konto użytkownika.
    </p>
    <p>
      - Pamiętaj, aby podać prawdziwe i aktualne dane. Na adres mailowy wysyłamy ważne wiadomości dotyczące Twojej zrzutki i konta.
    </p>
    <p>
      - Po zarejestrowaniu się możesz założyć swoją pierwszą zrzutkę poprzez wypełnienie formularza na stronie główne. Zrzutka będzie niekompletna, jednak gotowa do przyjmowania wpłat. Poniżej dowiesz się jak ją edytować i poznasz tajniki przeprowadzenia skutecznej zbiórki.
    </p>
    <p>
      - Jeśli chcesz korzystać z naszego narzędzia w pełni, musisz zweryfikować swoje konto. Weryfikacja jest bardzo prosta - tutaj dowiesz się jak ją uzyskać.

    </p>
  </mat-card-content>

  <h2>PROMOWANIE ZRZUTKI</h2>

  <mat-card-content>
    <p>
      Najważniejszym elementem przy prowadzeniu zrzutki jest jej promowanie. Jeśli nie będziesz udostępniać zbiórki, to nikt nie dowie się, że ją założyłeś/-aś. Możesz porównać to do przyjęcia urodzinowego - jeśli chcesz, aby impreza była udana, to oprócz jej zorganizowania, musisz zaprosić na nią gości.
    </p>
    <p>
      - Pierwsze wpłaty najlepiej pozyskać od osób, które znasz. Poproś, żeby zamiast podarowania Ci ich do ręki, wpłacili je na Twoją zrzutkę. Jeśli darczyńca, który Cię nie zna, wejdzie na Twoją zbiórkę i zobaczy, że ktoś już ją wspierał, to uzna ją za wiarygodniejszą i sam chętniej wpłaci na nią środki.
    </p>
    <p>
      - Po zarejestrowaniu się możesz założyć swoją pierwszą zrzutkę poprzez wypełnienie formularza na stronie główne. Zrzutka będzie niekompletna, jednak gotowa do przyjmowania wpłat. Poniżej dowiesz się jak ją edytować i poznasz tajniki przeprowadzenia skutecznej zbiórki.
    </p>
    <p>
      - Wiemy, że czasem bywa trudno przyznać się do złej sytuacji lub prosić o pomoc. Warto jednak się przełamać, bo być może i Ty będziesz mieć okazję do zrewanżowania się. Pamiętaj, by być szczerym - tego oczekuje każdy darczyńca!

    </p>
  </mat-card-content>

  <mat-card-content>

    <h2>SYSTEM PŁATNOŚCI</h2>

  </mat-card-content>

  <h3>Wpłaty</h3>
  <mat-card-content>
    <p>
      - Wpłatę na zrzutkę możesz dokonać błyskawicznie - po kliknięciu “Wpłać” wybierz ikonę swojego banku lub płatność kartą albo BLIKiem. Wpłata powinna pojawić się na zrzutce do kilku minut. Możesz również wykonać przelew tradycyjny (wszystkie dane do przelewu znajdziesz po wybraniu tej metody płatności). Pamiętaj, że zaksięgowanie takiego przelewu może trwać nawet dwa dni robocze.
    </p>
    <p>
      - Podczas dokonywania wpłaty możesz dołączyć wiadomość do organizatora, która może również być wyświetlona w komentarzach zrzutki.
    </p>
    <p>
      - Wpłaty na zrzutkę możesz dokonać nawet, gdy widnieje na niej informacja, że została zakończona. Dopiero wyłączenie zrzutki zablokuje taką możliwość (zobacz jak wyłączyć zrzutkę).
    </p>
  </mat-card-content>

  <h3>Wypłaty</h3>
  <mat-card-content>
    <p>
      - Wypłata zebranych środków może być zrealizowana tylko na to konto bankowe, które zostało przez Ciebie użyte w procesie weryfikacji. Możesz dokonać wypłaty tradycyjnej (do 2 dni roboczych) lub ekspresowej (do kilku minut na Twoim koncie).
    </p>
    <p>
      - Pamiętaj, że wypłacenie środków nie wpływa na saldo widoczne na stronie Twojej zrzutki. Osoba odwiedzająca Twoją zbiórkę nie wie, ile środków aktualnie znajduje się na koncie.        </p>
    <p>
      - Wypłat możesz dokonać nawet kilka razy, w dowolnym momencie. Nie musisz zebrać 100% celu!
    </p>
    <p>
      - Jeśli chcesz, możesz zwrócić środki wszystkim lub niektórym darczyńcom. Zrobisz to w szczegółach zrzutki.

    </p>
  </mat-card-content>


</mat-card>



