<mat-card class="card">
  <mat-card-title-group>
    <mat-card-title>
      <img mat-card-xl-image src="/assets/img_avatar.png">
    </mat-card-title>
    <div class="userdata">
      <mat-card-content>
        <mat-card-title>{{firstName}} {{lastName}}</mat-card-title>
      </mat-card-content>

      <mat-card-content>Ilość założonych zrzutek: {{fundraisingsLength}}</mat-card-content>
    </div>
  </mat-card-title-group>
  <div class="description">
    <mat-card-title>
      <p>
        Opis
      </p>
    </mat-card-title>
    <mat-card-content>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
      </p>
    </mat-card-content>
  </div>
</mat-card>
